baseURL: https://uh-zz.github.io/

languageCode: jp
title: 'small land'
theme: 'toha'

# Manage languages
# For any more details, you can check the official documentation: https://gohugo.io/content-management/multilingual/
languages:
  en:
    languageName: English
    weight: 1

# Control TOC depth
markup:
  tableOfContents:
    startLevel: 2
    endLevel: 6
    ordered: false

# At least HTML and JSON are required for the main HTML content and
# client-side JavaScript search
outputs:
  home:
    - HTML
    - RSS
    - JSON

# Enable global emoji support
enableEmoji: true

enableGitInfo: true
frontmatter:
  date:
    - date
    - lastmod
    - :git
  lastmod:
    - :git

# Site parameters
params:
  description: 技術とポエムを垂れ流しています

  background: 'images/background_black.jpg'
  logo:
    main: images/bio.jpg
    inverted: images/bio.jpg
    favicon: images/bio.jpg

  # GitHub repo URL and branch of your site
  gitRepo: https://github.com/uh-zz/small-land
  gitBranch: main

  features:
    darkMode:
      enable: true
      default: light

    # specify whether you want to show Table of Contents in reading page
    toc:
      enable: true

    # Enable and configure portfolio
    portfolio:
      enable: true

    # Enable and configure blog posts
    blog:
      enable: true

  # Provide footer configuration.
  footer:
    enable: true
    # You can provide your custom footer template using this option.
    # Put your template in "layouts/partials" folder of your repo.
    template: footer.html
    # Show/hide navigation in the footer. Default is "true".
    navigation:
      enable: true
      # show custom menus in the footer
      customMenus: true
    # Show/hide "Contact Me" section in the footer. Default is "true".
    contactMe:
      enable: true
    # Show/hide credentials section in the footer. Default is "true".
    credentials:
      enable: true

    # Show/hide newsletter section in the footer. Default is "true".
    # Currently, it supports "mailchimp".
    newsletter:
      enable: false
